
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 1rem 4rem 1rem;
  }
  @media (max-width: 60em) {
    .grid {
      margin: 0rem;
    }
  }
  
  .grid-item {
    padding: 2rem;
    width: 50%;
  }
  @media (max-width: 60em) {
    .grid-item {
      width: 100%;
    }
  }
  @media (max-width: 40em) {
    .grid-item {
      width: 100%;
      padding: 2rem 0 2rem 0;
    }
  }
  
  .card {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--highlight-color);
    height: 100%;
  }