:root {
    --menu-circle-size: 2rem;
    --menu-animation-time: 900ms;
}

/* Layout */

.website-menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem .5rem 1rem .5rem;
    line-height: 1.6;
}

@media (max-width: 60em) {
    .website-menu {
        padding: .1rem .5rem 1rem .5rem;
    }
}

menu {
    margin: 0;
    padding: 0;
}

.website-menu-wrapper {
    top: 0;
    left: 0;
    margin: 1% 3% 1% 3%;
    position: absolute;
    padding: 3px;
    width: 100%;
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}

/* Circle */

.menu-circle {
    position: absolute;
    top: 0;
    left: -2%;
    width: var(--menu-circle-size);
    height: var(--menu-circle-size);
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-style: none;
    border-color: inherit;
}

.menu-half-circle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: animation-menu-half-circle-wrapper;
    animation-duration: var(--menu-animation-time);
    animation-timing-function: steps(1, jump-end);
    animation-fill-mode: both;
    border-color: inherit;
}

@keyframes animation-menu-half-circle-wrapper {
    0% {
        z-index: 1;
    }

    40% {
        z-index: -1;
    }

    100% {
        z-index: -1;
    }
}

.menu-half-circle {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: inherit;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation-duration: var(--menu-animation-time);
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes animation-circle-left {
    0% {
        transform: rotate(0.625turn);
    }

    15% {
        transform: rotate(0.625turn);
    }

    30% {
        transform: rotate(1.125turn);
    }

    100% {
        transform: rotate(1.125turn);
    }
}

@keyframes animation-circle-right {
    0% {
        transform: rotate(0.125turn);
    }

    15% {
        transform: rotate(0.625turn);
    }

    100% {
        transform: rotate(0.625turn);
    }
}

/* Line */

.menu-line {
    position: absolute;
    background-color: transparent;
    top: -5px;
    padding: 0;
    margin: 0;
    height: 13px;
    border-style: none;
    border-color: inherit;
    animation: animation-menu-line;
    animation-duration: var(--menu-animation-time);
    animation-timing-function: linear;
    animation-fill-mode: both;
    z-index: 2;
}

.menu-inner-line {
    height: 3px;
    width: 100%;
    margin: 5px 0 5px 0;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: inherit;
}

@keyframes animation-menu-line {
    0% {
        left: calc(-2% + var(--menu-circle-size) / 2 - 2px);
        width: 0;
    }

    30% {
        left: calc(-2% + var(--menu-circle-size) / 2 - 2px);
        width: calc(4% + 5rem);
    }

    40% {
        left: -2%;
        width: calc(4% + 5rem);
    }

    100% {
        left: -2%;
        width: calc(4% + 5rem);
    }
}

/* Sliding Text */

.sliding-text-wrapper {
    position: absolute;
    top: 3px; /* same as page border */
    left: 3px; /* same as page border */
    z-index: 1;
    clip-path: inset(0 0 0 -100%);
    color: inherit;
}

.sliding-text {
    color: inherit;
    animation: animation-menu-slide;
    animation-duration: var(--menu-animation-time);
    animation-fill-mode: both;
}

@keyframes animation-menu-slide {
    0% {
        transform: translateY(-120%);
    }

    40% {
        transform: translateY(-120%);
    }

    100% {
        transform: translateY(0);
    }
}

.reverse * {
    animation-direction: reverse;
}