:root {
    --menu-circle-size: 2rem;
    --menu-animation-time: 900ms;
}

/* Layout */

.website-menu-wrapper {
    top: 0;
    left: 0;
    margin: 1% 3% 1% 3%;
    position: absolute;
    padding: 3px;
    width: 100%;
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}

.website-menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem 0 1rem 0;
    width: 100%;
    line-height: 1.6;
}

menu {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

@media (max-width: 60em) {
    .website-menu {
        padding: .1rem 0 1rem 0;
    }
}

@media (max-width: 40em) {
    .website-menu>menu {
        margin-left: -1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Circle */

.menu-circle {
    position: absolute;
    top: 0;
    left: -2%;
    width: var(--menu-circle-size);
    height: var(--menu-circle-size);
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-style: none;
    border-color: inherit;
}

.menu-inner-circle {
    border-style: solid;
    border-width: calc((var(--menu-circle-size)) / 2 - 3px);
    border-color: inherit;
    border-radius: 50%;
    animation: animation-menu-inner-circle;
    animation-duration: var(--menu-animation-time);
    animation-timing-function: steps(1, jump-start);
    animation-fill-mode: both;
}

.menu-circle:hover>.menu-inner-circle {
    visibility: hidden !important;
}

@keyframes animation-menu-inner-circle {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.menu-half-circle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: inherit;
    animation: animation-menu-half-circle-wrapper;
    animation-duration: var(--menu-animation-time);
    animation-timing-function: steps(1, jump-start);
    animation-fill-mode: both;
}

.menu-circle:hover>.menu-half-circle-wrapper {
    visibility: visible !important;
}

@keyframes animation-menu-half-circle-wrapper {
    0% {
        z-index: 1;
        visibility: hidden;
    }

    40% {
        z-index: 1;
        visibility: visible;
    }

    100% {
        z-index: -1;
        visibility: visible;
    }
}

.menu-half-circle {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: inherit;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation-duration: var(--menu-animation-time);
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes animation-circle-left {
    0% {
        transform: rotate(0.625turn);
    }

    15% {
        transform: rotate(0.625turn);
    }

    30% {
        transform: rotate(1.125turn);
    }

    100% {
        transform: rotate(1.125turn);
    }
}

@keyframes animation-circle-right {
    0% {
        transform: rotate(0.125turn);
    }

    15% {
        transform: rotate(0.625turn);
    }

    100% {
        transform: rotate(0.625turn);
    }
}

/* Line */

.menu-line {
    position: absolute;
    background-color: transparent;
    top: -5px;
    padding: 0;
    margin: 0;
    height: 13px;
    border-style: none;
    border-color: inherit;
    animation: animation-menu-line;
    animation-duration: var(--menu-animation-time);
    animation-timing-function: linear;
    animation-fill-mode: both;
    z-index: 2;
}

@keyframes animation-menu-line {
    0% {
        left: calc(-2% + var(--menu-circle-size) / 2 - 2px);
        width: 0;
    }

    30% {
        left: calc(-2% + var(--menu-circle-size) / 2 - 2px);
        width: calc(4% + 6.2rem);
    }

    40% {
        left: -2%;
        width: calc(4% + 6.2rem);
    }

    100% {
        left: -2%;
        width: calc(4% + 6.2rem);
    }
}

.menu-inner-line {
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: inherit;
    animation: animation-menu-inner-line;
    animation-duration: var(--menu-animation-time);
    animation-timing-function: steps(1, jump-end);
    animation-fill-mode: both;
}

.menu-line:hover>.menu-inner-line {
    height: 3px !important;
    border-top-width: 3px !important;
    border-bottom-width: 0 !important;
}

@keyframes animation-menu-inner-line {
    0% {
        height: 3px;
        border-top-width: 3px;
        border-bottom-width: 0;
    }

    100% {
        border-style: dashed;
    }
}

/* Sliding Text */

.sliding-text-wrapper {
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    clip-path: inset(0 0 0 -100%);
    color: inherit;
}

.sliding-text {
    color: inherit;
    animation: animation-menu-slide;
    animation-duration: var(--menu-animation-time);
    animation-fill-mode: both;
}

@keyframes animation-menu-slide {
    0% {
        transform: translateY(-120%);
    }

    40% {
        transform: translateY(-120%);
    }

    100% {
        transform: translateY(0);
    }
}

.reverse * {
    animation-direction: reverse;
}