.reveal p.near {
    margin: 0 0;
    line-height: 1.3;
}

.reveal p.small {
    font-size: 0.8em;
}

.reveal p.tiny {
    font-size: 0.6em;
}

.reveal p.citation {
    margin: 0 0;
    line-height: 1;
    font-size: 0.5em;
    color: #444444;
}

.reveal h1.white,
.reveal h2.white,
.reveal h3.white,
.reveal h4.white,
.reveal h5.white,
.reveal h6.white,
.reveal p.white {
    color: white;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal .row {
    display: flex;
}

.reveal .column {
    flex: 50%;
}

.reveal .one {
    float: left;
    width: 50%;
    border: 0px;
    margin: 0px;
}

.reveal .two {
    margin-left: 50%;
    border: 0px;
    margin: 0px;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0em 1em 0em 1em;
    border-bottom: 1px solid;
    font-weight: normal;
    font-size: 30px;
}

.reveal table tr {
    text-align: left;
    font-size: 30px;
}

.MathJax {
    font-size: 1.3em;
}