/* Layout */

nav {
  position: absolute;
  top: 3cqw;
  left: 3%;
}
@container (max-width: 500px) {
  nav {
    top: 1rem;
    left: -1%;
    width: 100%;
  }
}

.nav-wrapper {
  position: absolute;
  top: 2.8cqw;
  left: 3%;
  width: 94%;
  border-color: var(--highlight-color);
  color: var(--highlight-color);
  --v-offset: calc(-1.4vw + 2px);
  --h-offset: calc(-1.4vw + 2px);
  --line-length: calc(4% + 6.2rem);
  --menu-circle-size: 2rem;
  --menu-animation-time: 900ms;
  z-index: 1;
}
@container (max-width: 500px) {
  .nav-wrapper {
    height: 10px;
    top: 1rem;
    left: -1%;
    width: 100%;
    --v-offset: -.5rem;
    --h-offset: calc(1% + .5rem);
    --line-length: calc(100% - 1rem);
  }
}

nav ul {
  align-items: flex-start;
  gap: .3rem;
  line-height: 1.6;
}
@container (max-width: 500px) {
  nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

/* Circle */

.menu-circle {
  position: absolute;
  top: var(--v-offset);
  left: var(--h-offset);
  width: var(--menu-circle-size);
  height: var(--menu-circle-size);
  background-color: transparent;
  border-style: none;
  border-color: inherit;
}

.menu-half-circle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: inherit;
}

.menu-half-circle {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: inherit;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation-duration: var(--menu-animation-time);
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes animation-circle-left {
  0% {
    transform: rotate(0.625turn);
  }

  15% {
    transform: rotate(0.625turn);
  }

  30% {
    transform: rotate(1.125turn);
  }

  100% {
    transform: rotate(1.125turn);
    cursor: default;
  }
}

@keyframes animation-circle-right {
  0% {
    transform: rotate(0.125turn);
  }

  15% {
    transform: rotate(0.625turn);
  }

  100% {
    transform: rotate(0.625turn);
    cursor: default;
  }
}

/* Line */

.menu-line {
  position: absolute;
  top: calc(var(--v-offset) - 10px);
  height: 23px;
  background-color: transparent;
  border-style: none;
  border-color: inherit;
  padding: 10px 0 10px 0;
  animation: animation-menu-line;
  animation-duration: var(--menu-animation-time);
  animation-timing-function: linear;
  animation-fill-mode: both;
  z-index: 3;
}

@keyframes animation-menu-line {
  0% {
    left: calc(var(--h-offset) + var(--menu-circle-size) / 2);
    width: 0;
  }

  30% {
    left: calc(var(--h-offset) + var(--menu-circle-size) / 2);
    width: var(--line-length);
  }

  40% {
    left: var(--h-offset);
    width: var(--line-length);
  }

  100% {
    left: var(--h-offset);
    width: var(--line-length);
  }
}

.menu-inner-line {
  width: 100%;
  border-top-style: solid;
  border-color: inherit;
  height: 3px;
  border-top-width: 3px;
  border-bottom-width: 0;
}

/* Sliding Text */

.sliding-text-wrapper {
  top: 0;
  left: 0;
  clip-path: inset(0 0 0 -100%);
  color: inherit;
}

.sliding-text {
  z-index: 2;
  color: inherit;
  animation: animation-menu-slide;
  animation-duration: var(--menu-animation-time);
  animation-fill-mode: both;
}

@keyframes animation-menu-slide {
  0% {
    transform: translateY(-120%);
  }

  40% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(0);
  }
}

.reverse * {
  animation-direction: reverse;
}